 footer {
    background-color: #353535;
    color: white;
    padding: 30px 25px 30px 25px;
    & .footer__icon{
        margin-right: 31px;
        & .icon__1 {
            gap: 15px;  
        }
    }
}   
.icon__2 {
    display: contents;
}
    .footer__lois {
        align-items: baseline;
        margin-right: 96px;
    }
    .contact {
        color: white;
    }
        
    